.bloc-news-container {
  position: relative;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);

  @media (min-width: $screen-md-min) {
    @include flex-direction(row);
    @include justify-content(space-between);
  }

.news-main-container {
  max-width:585px;
  height: 490px;
  margin:30px 0;


  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $screen-md-min) {
    height: 590px;
    width:calc(100%/2);
  }

  .news-inner-container {
    padding:60px 30px 20px 30px;
    @media (min-width: $screen-md-min) {
      padding:120px 60px 40px 60px;
    }
  }
  .news-date {
    @extend .poppins16MediumWhite;
  }
  .news-title {
    @extend .poppins30SemiBoldWhite;
    padding-top: 30px;
    padding-bottom: 60px;

  }
  .news-excerpt {
    @extend .mada18LightWhite;
    height: 180px;
    border-bottom: 1px solid white;
    margin-bottom:30px;
    @media (min-width: $screen-md-min) {
      height: 180px;
    }
  }

  .news-footer {
    position: relative;
  }

  .news-read-more-cta {
    @include set-font(14px, $poppins, 700, white);
    text-transform: uppercase;
    display: block;
    &:after {
      position: absolute;
      top:-1px;
      right:0;
      content:url($assets + "/images/icon/icon-cta-arrow-white.png");

    }
  }
}


.news-main-container:nth-child(1) {
  background-image: url($assets + "/images/bg/0_0_ALAUNE_ACCUEIL.jpg");
}
  .news-main-container:nth-child(2) {
    background-image: url($assets + "/images/bg/0_0_ALAUNE_ACCUEIL.jpg");
  }

}//SECTION END