.bloc-echelle-main-container {

  .benefits-title-container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    text-align: center;
    .line {
      border-bottom: 2px solid $grey-light;
      opacity: 0.6;
      @include flex-basis(20%);
      @media (min-width: $screen-xs-min) {
        @include flex-basis(30%);
      }
      @media (min-width: $screen-sm-min) {
        @include flex-basis(35%);
      }

    }
    .title {

      @extend .poppins22RegBlack;
      text-transform: uppercase;

      @media (min-width: $screen-xs-min) {

      }

    }

  }

  .benefits-container {

    @include flexbox();
    @include flex-direction(column);
    position: relative;
    max-width:700px;
    margin:auto;
    background-image: url($assets + "/images/echelle/echelle-mobile.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    height:304px;
    left:0;
    top:0;


    @media (min-width: $screen-xs-min) {
      height:450px;
    }

    @media (min-width: $screen-sm-min) {
      @include flex-direction(row);
      max-width:1200px;
      background-image: url($assets + "/images/echelle/echelle-desktop.png");
      height:200px;
    }

  }

  .benefit-bg {
    width:100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: center;
    z-index: 1;
    height:304px;

    left:0px;
    top:0;
    @media (min-width: $screen-xs-min) {
      height:450px;
    }
    @media (min-width: $screen-sm-min) {
      height:200px;

    }


  }

  .benefit-bg.paper {
    background-image: url($assets + "/images/echelle/over-papier.png");
    @media (min-width: $screen-sm-min) {
      background-image: url($assets + "/images/echelle/over-papier-desktop.png");
    }


  }
  .benefit-bg.hyb {
    background-image: url($assets + "/images/echelle/over-hybrid.png");
    @media (min-width: $screen-sm-min) {
      background-image: url($assets + "/images/echelle/over-hybrid-desktop.png");
    }

  }
  .benefit-bg.num {
    background-image: url($assets + "/images/echelle/over-num.png");
    @media (min-width: $screen-sm-min) {
      background-image: url($assets + "/images/echelle/over-num-desktop.png");
    }


  }

  .cat-container {
    @include flexbox();
    @include flex-direction(column);
    width:100%;
    position: absolute;
    top:10%;

    @media (min-width: 500px) {
      top:0%;
    }

    @media (min-width: 600px) {
      top:10%;
    }

    @media (min-width: 660px) {
      top:0%;
    }

    @media (min-width: $screen-sm-min) {
      @include flex-direction(row);
      left:0;
      top:25%;
    }
  }

  .cat{
    position: relative;
    z-index:9999;
    height:75px;
    @media (min-width: 500px) {
      height:100px;
    }
    @media (min-width: 600px) {
      height:120px;
    }
    @media (min-width: 660px) {
      height:150px;
    }
    @media (min-width: $screen-xs-min) {
      height:100px;
    }
  }




}//SECTION END