.tech-support-main-container {

  /*** Text elements ***/
  p {
    @extend .mada22LightBlack;
    margin-bottom: 30px;
  }

  .form-link {
    @extend .mada22RegBlack;
  }
  /**** Section header *****/

  .tech-support-header-container {
    text-align: center;
    .section-title {
      @extend .poppins45BoldBlack;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 30px;
    }
  }

  /**** Form General css ****/
  .form-container {
    margin-top: 35px;
    margin-bottom: 70px;
    @include flexbox();
    @include flex-direction(column);


    .text-container {
      margin-bottom:30px;
    }

    .form-content-container {
      @media (min-width: $screen-sm-min) {
        @include flexbox();
      }
    }

    .form-left-container, .form-right-container {
      @include flexbox();
      @include flex-direction(column);

    }
    .form-left-container {
      margin-bottom:30px;
      @media (min-width: $screen-md-min) {
        margin-bottom:0px;
        padding-left:0;
      }
    }
    .form-right-container {

      @media (min-width: $screen-md-min) {
        padding-right:0;
      }
    }

    .input-container {
      @include flexbox();
      @include flex-direction(column);
      @media (min-width: $screen-sm-min) {
        @include flex-direction(row);
      }
      @include placeholder(18px, $mada, 300, $grey-placeholder, 1);
    }

    .tech-support-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      padding: 19px 15px;
      margin-bottom: 10px;
      border:1px solid $grey-light;
      @include border-radius(2px);
      @extend .mada18LightBlack;
    }

    select::-ms-expand {
      display: none!important;
    }

    .form-left-container .tech-support-input {

      @media (min-width: $screen-sm-min) {
        margin-right:10px;
      }
    }

    .form-right-container .tech-support-input {

      @media (min-width: $screen-sm-min) {
        margin-left:10px;
      }
    }

    select option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @extend .mada18LightBlack;
    }


    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 1.95em;
      padding-top: 0.2em;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 1.25em; height: 1.25em;
      border: 1px solid $grey-light;
      background: transparent;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {

      content: url($assets + '/images/icon/icon-form-check.png');
      position: absolute;
      top: 4px; left: 2px;
      @include transition(all 0.2s ease);
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      @include scale(0)
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      @include scale(1)
    }

  }



  .form-container .mention, label, select {
    @include set-font(18px, $mada, 300, $grey-placeholder);
    margin-bottom: 8px;
  }

  .form-container textarea {
    resize: none;
  }

  .form-container select {
    background: url($assets + "/images/icon/icon-arrow-black.png") no-repeat 95% 50%;
  }


  /*** THE FORMS ****/

  #form-my-ct {

      @include flex-direction(column);

     .my-ct-link {
        padding:50px 0;
        @media (min-width: $screen-md-min) {
          margin:0 50px;
        }
     }
  }


  #form-assistance{

    .content-container {
      @media (min-width: $screen-md-min) {
        @include flexbox();
        @include flex-direction(row);
      }
    }

    .input-container:nth-child(1) {
      @media (min-width: $screen-sm-min) {
        select {
          width:20%;
        }
        #assistance-firstname, #assistance-lastname {
          width:40%;
        }
      }
    }
    .input-container:nth-child(2) {
      @media (min-width: $screen-sm-min) {
        #assistance-email, #assistance-phone {
          width:40%;
        }
        #assistance-ext {
          width:20%;
        }
      }
    }
    .input-container:nth-child(3) {
      @media (min-width: $screen-sm-min) {
        #assistance-compagny-name, #assistance-office{
          width:40%;
        }
        #assistance-serial {
          width:20%;
        }
      }
    }

    .input-container:nth-child(4) {
      @include flexbox();

      @media (min-width: $screen-sm-min) {
        @include flex-direction(column);
      }

      .opening-main-container {
        @include flexbox();
        @include flex-direction(column);
        @media (min-width: $screen-xs-min) {
          @include flex-direction(row);
        }
        @media (min-width: $screen-sm-min) {
          //@include flex-direction(column);
        }
      }
      .opening {
        @include flexbox();
        @include flex-direction(column);
        @media (min-width: $screen-xs-min) {
          @include flex-basis(50%);
        }
        @media (min-width: $screen-sm-min) {
          @include flex-basis(100%);
          .mention {
            //margin-left: 10px;
          }
        }
      }

      .opening:first-of-type {
        @media (min-width: $screen-xs-min) {
          margin-right:20px;
        }

      }

    }

    #assistance-closed + label {
      @media (min-width: $screen-sm-min) {
        //margin-left: 10px;
      }
    }

    /**** RIGHT SIDE *****/

    .form-right-container {

      #assistance-msg {
        min-height:370px;
        @media (min-width: $screen-sm-min) {
          width:100%;
        }
      }

      .input-container:nth-child(2) {
        @include flex-direction(column);

        .mention {
          @media (min-width: $screen-sm-min) {
            margin-left:10px;
          }
        }
      }

      .assistance-upload-container {
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @media (min-width: $screen-sm-min) {
          @include flex-direction(row);
          @include justify-content(space-between);
        }
      }

      .form-submit {
        @media (min-width: $screen-sm-min) {
          @include flex-direction(row-reverse);
        }
        .mention {
          @media (min-width: $screen-sm-min) {
            margin-bottom:0;
            margin-left:10px;
          }
        }
      }

    }

    /**** Styling INPUT FILE ****/

    #assistance-upload {

      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

    }

    #assistance-upload + label {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      width:160px;
      padding:12px 0;
      background-color: $grey-placeholder;
      @include border-radius(2px);
      @extend .poppins15BoldWhite;
      text-transform: uppercase;

      &:after {
        content: url($assets + "/images/icon/icon-search-glass.png");
        margin-left:15px;
      }

    }

    #assistance-upload:focus + label,
    #assistance-upload + label:hover {
      background-color: red;
    }
    /************************************/

    .form-submit {
      @include flexbox();
      @include flex-direction(column);
      margin-top:30px;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        @include justify-content(space-between);
        @include align-items(flex-end);
      }
      .mention {
        margin-top:15px;
      }
    }
  }//END FORM ASSISTANCE

  #form-ressource {

    .form-content-container {
      @include flexbox();
      @include flex-direction(column);
      @media (min-width: $screen-xs-min) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
      }
    }
    .contact-item {
      margin-bottom:15px;
      @media (min-width: $screen-xs-min) {
        @include flex-basis(33%);

      }
    }

    .item-title {
      @extend .poppins22BoldBlue;
      text-transform: uppercase;

    }
    .item-info {
      @include flexbox();
      @include flex-direction(column);

      p {
        @extend .mada18LightBlack;
        margin:0;
      }
      span {
        @extend .mada18RegBlack;
      }
      a {
        @extend .mada18RegBlue;
        margin-bottom: 10px;
        //margin-left:45px;
      }
    }

  }

  /*** Specials class for forms ***/
  .isBold {
    @extend .mada22RegBlack;
  }

  .fullWidth {
    width:100%;
  }

}//SECTION END