.bloc-product-outer-container {
  padding-top: 90px;
}
.bloc-product-search-main-container {
  position: relative;
  background-color: #f1f1f1;

  .product-dropdown-container {
    background-color: white;
    @media (min-width: $screen-sm-min) {
      display: none;
    }

  }

  .select-title {
    @extend .poppins15BoldBlack;
  }

  .nav-type-container {
    display: none;
    background-color: transparent;

    @media (min-width: $screen-sm-min) {
      display: block;
    }

    .menu-item-container {
      @include flexbox();

      .menu-item {
        text-align: center;
        border-right:2px solid transparent;
        width: 100%;
        padding: 0 70px;
        max-width: 160px;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .menu-item a {
        @extend .poppins17SemiBoldBlueSky;
        text-transform: uppercase;
        width: 100%;
        height:100%;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
      }

    }
  }

  .nav-cat-main-container {
    background-color: white;
    padding-top:75px;
    @media (min-width: $screen-sm-min) {
      -webkit-box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
    }
  }

  .nav-cat-container {

    .menu-item-container {
      @include flexbox();
      @include flex-wrap(wrap);
      margin: 20px 0 85px;
      padding-bottom: 45px;
      border-bottom:1px solid #8295a0;
    }

    .menu-item {
      margin: 0;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .nav-cat-container a:hover {
    background-color: #599ec8;
  }


  .item-type-active {
    background-color: white!important;
    border-right:2px solid #e1e1e1!important;
  }


  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
}//SECTION END

