.section02-main-container {
  border: 1px solid red;


  .benefits-container {
    border: 1px solid blue;
    position: relative;
    background-image: url($assets + "/images/img/img-benefits-full.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height:200px;
    @include flexbox();
  }

  .cat {
    position: relative;
    img {
      display:none;
      width:545px;
    }
  }

  .cat:nth-child(2) {
   left: -40px;
  }
  .cat:nth-child(3) {
    left: -50px;
  }
  .cat:hover {
    img {
      display: block;
    }
  }

  .over {
    position: absolute;
    top:-30px;
    left:-50px;
  }



}//SECTION END