.section-news-container {
  @include flexbox();
  @include flex-direction(column);
  //@include justify-content(center);
  @include align-items(center);
  @media (min-width: $screen-md-min) {
    @include flex-direction(row);
  }

.news-main-container {
  max-width:585px;
  border: 1px solid red;
  max-height: 790px;
  background-image: url($assets + "/images/news-bg01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $screen-md-min) {
    max-height: 590px;
  }

  .news-inner-container {
    padding:60px 30px 20px 30px;
    @media (min-width: $screen-md-min) {
      adding:120px 60px 40px 60px;
    }
  }
  .news-date {
    @include set-font(16px, $poppins, 500, white);
  }
  .news-title {
    @include set-font(30px, $poppins, 600, white);
    padding-top: 30px;
    padding-bottom: 60px;

  }
  .news-excerpt {
    @include set-font(18px, $mada, 300, white);
    height: 280px;
    border-bottom: 1px solid white;
    margin-bottom:30px;
    @media (min-width: $screen-md-min) {
      height: 180px;
    }
  }

  .news-footer {
    position: relative;
  }

  .news-read-more-cta {
    @include set-font(14px, $poppins, 700, white);
    text-transform: uppercase;
    display: block;
    &:after {
      position: absolute;
      top:-1px;
      right:0;
      content:url($assets + "/images/icon/icon-cta-arrow-white.png");

    }
  }
}





}//SECTION END