/****** BLOCS DYNAMIC *******/


@import "blocs/bloc02";
@import "blocs/bloc03";
@import "blocs/bloc04";
@import "blocs/bloc05";
@import "blocs/bloc06";
@import "blocs/bloc07";
@import "blocs/bloc08";
@import "blocs/bloc09";
@import "blocs/bloc10";
@import "blocs/bloc11";
@import "blocs/bloc12";
@import "blocs/bloc13";
@import "blocs/bloc14";
@import "blocs/bloc15";
@import "blocs/bloc16";
@import "blocs/bloc17";
@import "blocs/bloc18";

/****** BLOCS DYNAMIC *******/
@import "blocs-static/bloc-newsletter";
@import "blocs-static/bloc-echelle";
@import "blocs-static/bloc-news";
@import "blocs-static/bloc-partners";
@import "blocs-static/bloc-equipement-cta";

/****** PARTS OF SOME BLOCS *******/
@import "blocs/toggleBar";

/***** STRUCTURE ******/

//Reset flexboxgrid
.container-fluid {
  padding:0!important;
}


.page-main-container {
  max-width:1200px;
  margin:auto;
}

.row {
  margin-left: 0!important;
  margin-right: 0!important;
}

.reverse-elem {
  @media (min-width: $screen-sm-min) {
    @include flex-direction(row-reverse);
  }
}

/***** TYPOGRAPHY ********/

@import "typo";


/***** BUTTONS & CTA *****/

.primary-btn {
  padding: 20px 30px;
  @include set-font(15px, $poppins, 700, $blue);
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min) {
    padding: 20px 40px;
    @include set-font(15px, $poppins, 700, $blue);
  }

}

.primary-btn-blue {
  @extend .primary-btn;
  background-color: $blue;
  color:white;
  width:50%;
 // margin:auto;
  text-align: center;
  @media (min-width: $screen-xs-min) {
    width:200px;
  }
  @media (min-width: $screen-lg-min) {
  }
}

.cta-see-more {
  @include set-font(15px, $poppins, 700, $blue );
  text-transform: uppercase;
  position: relative;
  @include flexbox();
  @include align-items(center);
  &:after {
    content:url($assets + "/images/icon/icon-cta-arrow-blue.png");
    margin-left:40px;
  }
}


/************** TITLE ************************/

.upper-title {
    margin:15px 0;
    @include set-font(22px, $poppins, 600, $red);
    list-style: square;
    text-transform: uppercase;
}

.upper-title-no-dot {
  margin:15px 0;
  @include set-font(22px, $poppins, 600, $red);
  list-style: none;
  text-transform: uppercase;
}


.section-title-container {
  .title {

    @extend .poppins30BoldBlack;
    text-transform: uppercase;
    margin:30px 0;
    @media (min-width: $screen-sm-min) {
     @include set-font(45px, $poppins, 700, $black);
    }
  }
  .desc {
    @extend .mada22LightBlack;
  }

}

/**********************************************/

.brochure-download-pdf {
  @include inline-flex();
  @include align-items(center);
  @extend .poppins14BoldBlue;
  letter-spacing: 0.08em;
  &:after {
    content: url($assets + "/images/icon/pdf_dl_blue.png");
    margin-left:15px;
  }
}

.brochure-download-pdf-blue {
  @extend .brochure-download-pdf;
  &:after {
    content: url($assets + "/images/icon/pdf_dl_blue.png");
  }
}

.brochure-download-pdf-white {
  @extend .brochure-download-pdf;
  color:white;
  background-color: $blue;
  padding: 10px 30px;
  &:after {
    content: url($assets + "/images/icon/pdf_dl_white.png");
  }
}


.slider-link-container {
  border-bottom: 2px solid #aaaaaa;
  width:200px;
  margin:30px auto;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  .slider-dot {
    position: relative;
    top:15px;
    display: block;
    width:25px;
    height:25px;
    border: 1px solid red;
    &:before {
      @include center-img(50%,50%);
      content: url( $assets + "/images/icon/icon-slider-bullet-inactive.png");
    }
  }
}

.active-dot {
  &:before {
    content: url( $assets + "/images/icon/icon-slider-bullet-active.png")!important;
  }
}


.slider-link-container-bloc02 {
  margin:0px auto;
  @extend .slider-link-container;
  .slider-dot:before {
      content: url( $assets + "/images/icon/icon-slider-bullet-inactive-grey.png");
    }
}

.active-dot-blue {
  &:before {
    content: url( $assets + "/images/icon/icon-slider-bullet-active-blue.png")!important;
  }
}

.active-slide {
  opacity: 1!important;
  position: relative!important;
}

.shadow {
  -webkit-box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
}



/* JUST FOR DEV */

#footer {
  margin-top:50px;
}

.bloc-name {
  background-color: $red;
  padding: 25px;
  margin:50px 0;
  @include set-font(16px, $poppins, 400, white);
}

