/****** BLOCS DYNAMIC *******/


@import "blocs/bloc02";
@import "blocs/bloc03";
@import "blocs/bloc04";
@import "blocs/bloc05";
@import "blocs/bloc06";
@import "blocs/bloc07";
@import "blocs/bloc08";
@import "blocs/bloc09";
@import "blocs/bloc10";
@import "blocs/bloc11";
@import "blocs/bloc12";
@import "blocs/bloc13";
@import "blocs/bloc14";
@import "blocs/bloc15";
@import "blocs/bloc16";
@import "blocs/bloc17";
@import "blocs/bloc18";

/****** BLOCS STATICS *******/
@import "blocs-static/bloc-newsletter";
@import "blocs-static/bloc-echelle";
@import "blocs-static/bloc-news";
@import "blocs-static/bloc-partners";
@import "blocs-static/bloc-equipement-cta";
@import "blocs-static/bloc-wheel";
@import "blocs-static/bloc-tab-change";
@import "blocs-static/bloc-product-search";
@import "blocs-static/bloc-contact";
@import "blocs-static/bloc-support-technique";

/****** PARTS OF SOME BLOCS *******/
@import "blocs/toggleBar";

/***** STRUCTURE ******/

body {
  background-color: white;
}

#global-container {
  max-width:1920px!important;
  margin:auto!important;
}

//Reset flexboxgrid
.container-fluid {
  padding:0!important;
}

.row {
  margin-left: 0!important;
  margin-right: 0!important;
}

.reverse-elem {
  @media (min-width: $screen-sm-min) {
    @include flex-direction(row-reverse);
  }
}

/***** TYPOGRAPHY ********/

@import "typo";
@import "wysiwyg";

.red-border:after {
  content:"";
  position: absolute;
  z-index: -1;
  left:0;
  bottom:16px;
  border-bottom: 12px solid #a91b2d;
  width:98%;
  margin:auto;
  margin-left:6px;
}


/***** BUTTONS & CTA *****/


.primary-btn {
  padding: 15px 30px;
  @include set-font(15px, $poppins, 700, $blue);
  background-color: white;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(all 0.25s ease);
  &:hover {
    background-color: #d2deea;
  }
  @media (min-width: $screen-sm-min) {
    padding: 18px 35px;
    @include set-font(15px, $poppins, 700, $blue);
  }

}

.primary-btn-blue {
  @extend .primary-btn;
  background-color: $blue;
  color:white;
 // width:50%;
  text-align: center;
  @media (min-width: $screen-xs-min) {
    //width:200px;
  }
  &:hover {
    background-color: $blue-sky;
  }
}

.primary-btn-blue-sky {
  @extend .primary-btn;
  background-color: $blue-sky;
  text-align: center;
  @media (min-width: $screen-xs-min) {
    width:200px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 20px 40px;
    @include set-font(15px, $poppins, 700, white);
  }
}

.primary-btn-grey {
  @extend .primary-btn;
  background-color: $grey-light;
  text-align: center;

  &:hover {
    background-color: $blue-sky;
  }

  @media (min-width: $screen-xs-min) {
    width:200px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 20px 40px;
    @include set-font(15px, $poppins, 700, white);
  }
}



.cta-see-more {
  @include set-font(15px, $poppins, 700, $blue );
  text-transform: uppercase;
  position: relative;
  @include flexbox();
  @include align-items(center);
  @include transition(all 0.25s ease);
  &:after {
    content:url($assets + "/images/icon/icon-cta-arrow-blue.png");
    margin-left: 20px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.contact-link-cta, .news-read-more-cta{
  @include transition(all 0.25s ease);
  &:hover {
    opacity: 0.8;
  }
}


.brochure-download-pdf {
  @include inline-flex();
  @include align-items(center);
  @extend .poppins14BoldBlue;
  letter-spacing: 0.08em;
  @include transition(all 0.25s ease);
  &:hover {
    opacity: 0.8;
  }
  &:after {
    content: url($assets + "/images/icon/pdf_dl_blue.png");
    margin-left:15px;
  }
}

.brochure-download-pdf-blue {
  @extend .brochure-download-pdf;
  &:after {
    content: url($assets + "/images/icon/pdf_dl_blue.png");
  }
}

.brochure-download-pdf-white {
  @extend .brochure-download-pdf;
  color:white;
  background-color: $blue;
  padding: 10px 30px;
  &:after {
    content: url($assets + "/images/icon/pdf_dl_white.png");
  }
}


/************** TITLE ************************/

.upper-title {
  margin:15px 0;
  @include set-font(22px, $poppins, 700, $red);
  list-style: square;
  text-transform: uppercase;

  &:before {
    content: "";
    background-color: $red;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    margin-bottom: 2px;
  }
}

.upper-title-no-dot {
  margin:15px 0;
  @include set-font(22px, $poppins, 600, $red);
  list-style: none;
  text-transform: uppercase;
}


.title {
  @extend .poppins30BoldBlack;
  text-transform: uppercase;
  margin:30px 0;
  @media (min-width: $screen-sm-min) {
    @include set-font(45px, $poppins, 700, $black);
  }
}

.section-title-container {
  .title {

    @extend .poppins30BoldBlack;
    text-transform: uppercase;
    margin:30px 0;
    @media (min-width: $screen-sm-min) {
     @include set-font(45px, $poppins, 700, $black);
    }
  }
  .desc {
    @extend .mada22LightBlack;
  }

}

.publication-cat, .publication-title, .publication-date {
  text-transform: uppercase;
}
.publication-cat {
  @extend .poppins15BoldRed;
  margin-top:25px;
  @media (min-width: $screen-sm-min) {
    margin-top:10px;
  }
}

.publication-title {
  @extend .poppins30BoldBlack;
  margin:10px 0;
}

.publication-date {
  @extend .poppins15BoldBlue;
}

.publication-text {
  @extend .mada22LightBlack;
  margin: 25px 0;
}



/**********************************************/



//**** SLIDER *****//

.slider-link-container {
  border-bottom: 2px solid #aaaaaa;
  width:200px;
  margin:30px auto;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  .slider-dot {
    position: relative;
    top:15px;
    display: block;
    width:25px;
    height:25px;


    &:before {

      @include center-img(50%,50%);
      content: url( $assets + "/images/icon/icon-slider-bullet-inactive.png");

    }
  }
  .slider-dot:first-of-type {
    margin-left:-10px;
  }
  .slider-dot:last-of-type {
    margin-right:-10px;
  }
}

.active-dot {

  &:before {
    content: url( $assets + "/images/icon/icon-slider-bullet-active.png")!important;
  }
}


.slider-link-container-bloc02 {
  margin:0px auto;
  @extend .slider-link-container;
  .slider-dot:before {
      content: url( $assets + "/images/icon/icon-slider-bullet-inactive-grey.png");
    }
}

.active-dot-blue {

  &:before {
    content: url( $assets + "/images/icon/icon-slider-bullet-active-blue.png")!important;
  }
}



.active-slide {
  opacity: 1!important;
  position: relative!important;
}

/***********************/

/*** ITEM CAT SEARCH ****/
.select-title {
  @extend .poppins15BoldBlack;
}

.nav-cat-container {

  .menu-item-container {
    @include flexbox();
    @include flex-wrap(wrap);
    margin: 10px 0;
    padding-bottom: 30px;
    border-bottom:1px solid #8295a0;
  }

  .menu-item {
    margin:35px 0;
    margin-right: 20px;
  }
}

.item-cat-active a{
  background-color: $blue-dark!important;
}


.publication-nav {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  border-top:1px solid $grey-light;
  border-bottom:1px solid $grey-light;
  padding:15px 0;
  margin-top:50px;
  margin-bottom:30px;
}

.publication-nav-item {
  @include set-font(15px, $poppins, 700, $blue );
  @extend .poppins15BoldBlue;
  position: relative;
}

.active-pagination {
  color:$blue!important;
}

.cta-pub-left, .cta-pub-right {

  color:transparent;
  @media (min-width: $screen-sm-min) {
    color:$blue;
  }

  text-transform: uppercase;
  position: relative;
  @include flexbox();
  @include align-items(center);
}

.cta-pub-left:before {
  content:url($assets + "/images/icon/icon-cta-arrow-blue.png");
  @include rotate(180);
  margin-right:10px;
  margin-top:-5px;
}
.cta-pub-right:after {
  content:url($assets + "/images/icon/icon-cta-arrow-blue.png");
  margin-left:10px;
  margin-top:2px;
}

//**************************/




/***************/


.shadow {
  -webkit-box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
}



/* JUST FOR DEV */

.bloc-name {
  background-color: $red;
  padding: 25px;
  margin:50px 0;
  @include set-font(16px, $poppins, 400, white);
  display: none;
}

