.wysiwyg-container {

  h1,h2,h3,h4,h5,h6 {
    font-family: $poppins;
    font-weight: 700;
    margin:15px 0;
  }

  h1, h2 {
    @include set-font(44px, $poppins, 700, $black);
    text-transform: uppercase;
    padding-bottom: 25px;
    @extend .h2-size;
    @media (max-width: $screen-sm-min) {
      padding-bottom: 0;
    }
  }
  h3,h4,h5,h6  {
    @include set-font(22px, $mada, 400, $black);
    line-height: 32px;
    padding: 25px 0;
  }
  p {
    @include set-font(22px, $mada, 300, $black);
    padding-bottom: 25px;
    line-height: 32px;
  }

  li {
    @include set-font(22px, $mada, 300, $black);
    margin:10px 0;
  }

  img {
    max-width:100%;
    height:100%;
  }

  ul {
    list-style-type: disc;
    margin-left: 30px;
    padding-bottom: 25px;
    list-style-position: outside;
  }
  ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 30px;
    padding-bottom: 25px;
  }
  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 15px;
  }
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: outside;
    margin-left: 15px;
  }

  a:not(.btn-bloc2),
  a:not(.btn) {
    @extend .form-link;
  }
}