.row-303 {
  margin-top: 60px;
  @media (min-width: $screen-md-min) {
    margin-top: 30px;
  }

  .section-title-container .title {
    margin-top: 0;
    padding: 15px 0 0;
  }
}

.row-849,
.row-859,
.row-399,
.row-401,
.row-402,
.row-957 {
  @media (max-width: $screen-sm-min) {
    padding-top: 20px;
  }
}

.row-741 {
  h2 {
    margin-bottom: 0;
  }
  @media (max-width: $screen-sm-min) {
    padding-top: 20px;
  }
}


.row-554 {
  margin-top: 30px;
  h2 {
    padding: 0!important;
  }
}

.row-303 {
  margin-top: 50px;
  h2 {
    padding: 0!important;
  }
}

.bloc-medal {
  .prod-logiciel-container {
    flex-direction: row-reverse;

    h2 {
      @include font-size(27px);
      text-transform: uppercase;

      @media (min-width: $screen-sm-min) {
        @include font-size(32px);
        padding: 30px 0 0;
      }

      @media (min-width: $screen-md-min) {
        @include font-size(45px);
        padding: 30px 0 20px;
      }
    }
    
    .medaille-container {
      display: flex;
    }
  }
}