.row-303 {
  margin-top: 45px;
  @media (min-width: $screen-xxl-min) {
    margin-top: 30px;
  }

  .section-title-wrapper .section-title-container .title {
    margin-top: 0;
    padding: 15px 0 0;
  }
}