.no-padding {
  padding: 0!important;
}
.no-margin {
  margin:0!important;
}

img.carret-right {

  @include rotate(-90);
}

.open{

  max-height: 500px!important;
}



.hideMe {
  display:none!important;
}

.showMe {
  display:block!important;
}

.invisibileMe {
  visibility: hidden;
}

.fadeIn {
  opacity: 1!important;
}

.showButton {
  .btn-discover {
    top:0!important;
  }
}


.show-in-mobile-only {
  @media (min-width: $screen-sm-min) {
    display: none!important;
  }
}

.show-in-tablet {
  @media (min-width: $screen-sm-min) {
    display: block!important;
  }
}

.show-in-mobile-tablet {
  @media (min-width: $screen-md-min) {
    display: none!important;
  }
}

.show-in-tablet {
  @media (min-width: $screen-xs-min) {
    display: none!important;
  }
  @media (min-width: $screen-sm-min) {
    display: block!important;
  }
}

.show-in-desktop {
  @media (min-width: $screen-xs-min) {
    display: none!important;
  }

  @media (min-width: $screen-md-min) {
    display: flex!important;
  }
}




.hidden-xs-up {
  @media (min-width: $screen-xs-min) {
    display: none!important;
  }
}


.hidden-md-up {
  @media (min-width: $screen-md-min) {
    display: none!important;
  }
}

.hidden-md-down {
  @media (min-width: $screen-md-min) {
      display: none!important;
  }
}

.reverse-elem {
  @media (min-width: $screen-sm-min) {
    @include flex-direction(row-reverse);
  }
}