.hero, .hero-page  {
  position: relative;
  background-color: grey;

  .hero-content-container {

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    width: 100%;
    min-height: 675px;
    background-image: url($assets + "/images/bg-pub.png");
    background-repeat: no-repeat;
    background-size: cover;

    .hero-content {
      @include flexbox();
      @include flex-basis(60%);
      //@include align-items(center);
      @include justify-content(center);
      @include flex-direction(column);
    }

    .hero-title-container {
      color: white;
      width: auto;


      .hero-title {
        display: inline;
        position: relative;
        z-index: 10;
        margin-left: -5px;
        margin-right: -5px;
        @extend .poppins80BoldWhite;
      }
    }

    .hero-subtitle {

      padding: 20px 0 50px;
      @extend .poppins26LightWhite;
      line-height:25px;
      @media (min-width: $screen-sm-min) {
        padding: 30px 0 50px;
        line-height:38px;
      }
      span {
        font-weight: 700;
      }
    }

    .red-border:after {
      content: "";
      position: absolute;

      z-index: -1;
      left: 0;
      bottom: 40px;
      border-bottom: 12px solid #a91b2d;
      width: 98%;
      margin: auto;
      margin-left: 12px;

    }

  }

  .hero-arrow {
    display: block;
    @include center-img(50%, 0%);
    @media (min-width: $screen-sm-min) {
      margin-top:100px;
      position: relative;
    }
  }


  .triangle{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 180px solid red;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $screen-sm-min) {
      border-bottom: 480px solid white;
    }

    @media (min-width: $screen-md-min) {
      border-bottom: 480px solid white;
    }
  }

}






