.hero-page  {
  position: relative;

  .hero-content-container {

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    width: 100%;
    min-height: 670px;

    background-repeat: no-repeat;

    @media (min-width: $screen-sm-min) {
      background-size: 100%;
    }

    .hero-content {
      @include flexbox();
      @include flex-basis(60%);
      //@include align-items(center);
      @include justify-content(center);
      @include flex-direction(column);
    }

    .hero-title-container {
      color: white;
      width: 90%;
      margin: auto;
      text-align: center;


      .hero-title {
        display: inline;
        position: relative;
        z-index: 10;
        margin-left: -5px;
        margin-right: -5px;
        text-transform: uppercase;
        @extend .poppins80BoldWhite;
      }
    }

    .hero-subtitle {

      padding: 20px 0 50px;
      @extend .poppins26LightWhite;
      line-height:25px;
      @media (min-width: $screen-sm-min) {
        padding: 30px 0 50px;
        line-height:38px;
      }
      span {
        font-weight: 700;
      }
    }

    .red-border:after {
      content: "";
      position: absolute;

      z-index: -1;
      left: 0;
      bottom: 40px;
      border-bottom: 12px solid #a91b2d;
      width: 98%;
      margin: auto;
      margin-left: 12px;

    }

  }

  .hero-arrow {
    display: block;
    @include center-img(50%, 0%);
    @media (min-width: $screen-sm-min) {
      margin-top:100px;
      position: relative;
    }
  }


  /*.triangle{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 180px solid red;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $screen-sm-min) {
      border-bottom: 480px solid white;
    }

    @media (min-width: $screen-md-min) {
      border-bottom: 480px solid white;
    }
  } */

}


.hero {
  position: relative;
  width: 100vw;

  .hero-content-container {
    max-width: 100%;

    .hero-content {
      opacity: 0;
      @include fade-out();

      &.active-slide {
        opacity: 1;
      }
    }
  }



  h1 {
    @include set-font(70px, $poppins, 700, white);
    line-height: 87px;
    text-transform: uppercase;
    width: 75%;
  }

  h2 {
    @include set-font(26px, $poppins, 300, white);
    line-height: 38px;
    width: 75%;
    margin-top: 35px;
  }

  .slide-container {
    .text-container {
      position: absolute;
      width: 75%;
      left: 25%;
      top: 15%;
      z-index: 825;
    }
  }

  .overlay {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .red-border:after {
    bottom: 36px;
  }

  .triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 600px solid white;
    border-right: 1920px solid transparent;
    z-index: 815;
  }

  .img-container {
    img {
      width: 100%;
    }
  }

  .hero-arrow-container {
    position: absolute;
    left: 33%;

    .hero-arrow {
      margin-top: 50px;
    }
  }

  .slider-link-hero-container {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 800;

    .slider-hero-dot {
      background-image: url($assets + '/images/icon/bullet_hero_inactive.png');
      background-repeat: no-repeat;
      background-position: center top;
      width: 21px;
      height: 21px;
      display: block;
      margin: auto;
      padding-bottom: 25px;
      position: relative;

      &.active-hero-slide {
        background-image: url($assets + '/images/icon/bullet_hero_active.png');

        &:after {
          content: ' ';
          position: absolute;
          left: 50%;
          width: 2px;
          background-color: white;
          height: 26px;
          bottom: -1px;
        }
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }

      &:after {
        content: ' ';
        position: absolute;
        bottom: 2px;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        background-color: white;
        height: 28px;
      }
    }
  }
}

