.top-bar-content-container.top-bar-mobile {
  position: relative;
  background-color: $primary-bg;
  height:80px;


  @media (min-width: $screen-md-min) {
    display: none;
  }

  .top-bar-content {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }

  .top-bar-logo-container {
    height:75px;
    width: 75px;
    background-image: url($assets + "images/logo/logo-ct.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 70px;

  }


  .top-bar-menu-btn-container {
    background-color: $blue;
    padding:10px;
  }

  #menu-btn {
    width: 25px;
    height: 25px;
    position: relative;
    top:6px;
    cursor: pointer;
    display: block;
  }


  #menu-btn span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }
  #menu-btn span:nth-child(1) {
    top: 0px;
  }

  #menu-btn span:nth-child(2),#menu-btn span:nth-child(3) {
    top: 6px;
  }

  #menu-btn span:nth-child(4) {
    top: 12px;
  }
}

/*** TOP BAR END *****/

/**** MOBILE MENU START *****/

#menu-mobile{

  //display:none;
  right:-50px;

  position: fixed;
  width:90%;
  height:100%;
  background-color: white;
  z-index: 999;
  //right: -100vw;
  padding: 15px;
  @include transition(all 0.6s ease);
  border: 1px solid $grey-light;

  @media (min-width: $screen-md-min) {
    display:none;
  }

  .close-menu-btn{
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width:30px;
    height:30px;
    background-color: $blue;
    img {
      width:20px;
      @include rotate(90);
    }
  }

  /*** THE NAV ****/

  .nav-link {
    text-decoration: none;
    font-family: $poppins;
    font-weight: 500;

    &:hover {
      color: $red;
    }
  }

  .nav-bottom {
    margin-top:30px;
  }

  .nav-bottom .menu-item {
    margin: 20px 0;
  }

  .nav-bottom .nav-link{
    font-size: 16px;
    color:$black;
    text-transform: uppercase;
    position: relative;
    display: block;
    width:100%;
  }
  .menu-item {
    position: relative;
    //border: 1px solid red;
    width:90%;
  }

  .fa-plus-circle,.fa-minus-circle {
    position: absolute;
    right:15px;
    top:0;
    color:$black;
  }

  .nav-top {
    margin-top:30px;
  }

  .nav-top .menu-item {
    margin: 15px 0;
  }

  .nav-top .nav-link{
    font-size: 14px;
    color:$grey-light;
  }

  .nav-top .link-account{
    @include flexbox();
    @include align-items(center);
    //margin-right:25px;
    padding-right: 0;
    position: relative;
    color:$black;

    &:before {
      content:url($assets + "/images/icon/icon-account.png");
      position: relative;
      padding-right:5px;
    }
  }


}

.menu-mobile-active {
  right: -50px!important;
  overflow-y: auto!important;
}

.move-global {
  position:fixed!important;
  left:-100px!important;

}

