
.sub-menu-main-container {

  background-color: $black;
  position: relative;
  z-index: 900;
  width:100%;
  @include set-font(16px, $poppins, 400, white);
  .sub-menu-container {
    @include flexbox();
    @include flex-direction(column);
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    background-color: $black;
    @include transition(left 0.6s ease);
  }

  .sub-menu-title {
    margin-bottom: 25px;

    a {
      color: white;
    }
  }
  .nav-section-title {
    padding-bottom:15px;

    a {
      color: white;
    }
  }

  .sub-menu-container {
    @include flexbox();
    padding: 50px 0;
  }

  .nav-sub{
    .menu-item {
      padding:10px 0;
    }

    .nav-link {
      color:$grey-light;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      &:after {
        display: none;
        content:url($assets + "/images/icon/icon-red-arrow.png");
        position: absolute;
        right:-60px;
        top:0px;
      }

      &:hover {
        color:$red;
        &:after {
          display:block;
        }
      }
    }

  }
}


.hide-from-screen {

  position: absolute!important;
  left:-3000px!important;
  top:0!important;

}
