
.sub-menu-main-container {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
  }

  background-color: $black;
  position: relative;
  z-index: 900;
  width:100%;
  @include set-font(16px, $poppins, 400, white);
  .sub-menu-container {
    @include flexbox();
    @include flex-direction(column);
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    background-color: $black;
    //@include transition(left 0.6s ease);
  }

  .sub-menu-title {
    margin-bottom: 25px;
    text-transform: uppercase;
    a {
      color: white;
    }
  }
  .nav-section-title {
    padding-bottom:15px;
    text-transform: uppercase;
    @include set-font(17px, $poppins, 400, white);

    a {
      color: white;
    }
  }

  .sub-menu-container {
    @include flexbox();
    padding: 50px 0;
  }

  .nav-sub{
    .menu-item {
      padding:10px 0;
    }

    .nav-link {
      color:$grey-light;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      display: inline;
      //&:after {
      //  display: none;
      //  content:url($assets + "/images/icon/icon-red-arrow.png");
      //  position: absolute;
      //  right:-60px;
      //  top:0px;
      //}
      .arrow-hover {
        display: none;
      }

      &:hover {
        .arrow-hover {
          display: block;
          position: absolute;
          right: -60px;
          margin-left: 15px;
          bottom: 0;
        }
        color:$red;
        &:after {
          display:block;
        }
      }
    }

  }

  .nl1 {
    height: 375px;
    .nav-sub {
      position: absolute;
      margin: 0;
      top: 85px;
    }
  }

  .nl2 {
    .nav-sub-container {
      height: 190px;
    }
  }

  .nl3 {
    height: 375px;
    .nav-sub {
      position: absolute;
      margin: 0;
      top: 85px;
    }
  }

  .nl4 {
    height: 425px!important;
    .nav-sub {
      position: absolute;
      margin: 0;
      top: 85px;
    }
  }
}


.hide-from-screen {

  position: absolute!important;
  left:-3000px!important;
  top:0!important;

}
