.two-col-icons-text-main-container {
  @include flexbox();
  @include flex-direction(column);
  @media (min-width: $screen-sm-min) {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
  }

  .two-col-icons-text-item {
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: $screen-xs-min) {
     //flex-basis:45%;
    }
    @media (min-width: $screen-md-min) {
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
    }

    .two-col-icons-text-img-container {
      text-align: center;
    }


    .two-col-icons-text-title {
      @include set-font(25px, $poppins, 700, $black);
      margin: 30px 0;
    }
    .two-col-icons-text-desc {
      @include set-font(22px, $mada, 300, $black);
    }

  }//END FOUR COL ICON ITEM


}//SECTION 02 END