.three-col-icons-main-container {
  position: relative;
  max-width:1200px;
  margin:auto;
  /***************************************************************/
  .three-col-icons-container {

    .three-col-icons-upper-title {
      margin-bottom:15px;
      ul li {
        @include set-font(22px, $poppins, 600, $red);
        list-style: square;
        margin-left:22px;
        text-transform: uppercase;
      }
    }

    .three-col-icons-title {
      @include set-font(30px, $poppins, 700, $black);
      text-transform: uppercase;
      @media (min-width: $screen-sm-min) {
        @include set-font(45px, $poppins, 700, $black);
      }
    }
  }

  /***************************************************************/

  .three-col-icons-item {
    margin: 50px 0;
    @media (min-width: $screen-xs-min) {
      @include flexbox();
    }
    @media (min-width: $screen-md-min) {
      @include flexbox();
      @include flex-direction(column);
      //@include align-items(center);
    }

    .three-col-icons-img-container {
     // text-align: center;
      margin-bottom: 30px;
      @media (min-width: $screen-xs-min) {
        //margin-bottom: 0px;
      }
      @media (min-width: $screen-md-min) {
        text-align: left;
        margin-left: 15px;
      }

    }

    .three-col-icon-text {
      @media (min-width: $screen-xs-min) {
        padding-left: 5%;
      }
      .three-col-icons-title {
        @include set-font(25px, $poppins, 700, $blue);
      }
      .three-col-icons-desc {
        @include set-font(22px, $mada, 300, $black);
        margin: 15px 0;
      }
    }

  }//END three COL ICON ITEM

  .three-col-icons-item:nth-child(1) .three-col-icons-title{
   color:$blue-light;
  }
  .three-col-icons-item:nth-child(2) .three-col-icons-title{
    color:$blue-grey;
  }
  .three-col-icons-item:nth-child(3) .three-col-icons-title{
    color:$green;
  }


  /***************************************************************/

}//SECTION 02 END


