.toggle-content-main-container {

  padding:50px 0;

  .toggle-content-container {
    margin-bottom:10px;
  }

  .toggle-content-header {

    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    height:75px;
    padding: 0px 25px;
    background-color: $blue-sky;
    position: relative;



    /*************************/
    .title-container{
      @include flexbox();
      @include align-items(center);
      position: relative;
      z-index:200;

    }
    .toggle-content-title {
        @include set-font(20px, $poppins, 600, white);
        margin-left:15px;
    }

    .toggle-content-carret {
      @include rotate(0);
      @include transition(transform 0.6s ease);
    }

    /***** Toggle carret ****/
    .toggle-carret {
      @include rotate(180);
    }



    .triangle-blue {
      border-top: 30px solid $blue-sky;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      content: "";
      height: 0;
      z-index: -1;
      position:absolute;
      left:50%;
      top: 50%;

      transform: translate(-50%,-0%);
      -webkit-transform: translate(-50%,-0%);
      -ms-transform: translate(-50%,-0%);
      @include transition(transform 0.5s ease);
    }
  }

  /**** Active toggle header *****/

  .active-header {
    background-color: $blue!important;
  }

  /****** Hide/Show blue triangle *******/

  .toggle-triangle {
    border-top: 30px solid $blue!important;
    z-index: 100!important;
    transform: translate(-50%,100%)!important;
    -webkit-transform: translate(-50%,100%)!important;
    -ms-transform: translate(-50%,100%)!important;
  }

  /*******************************/
  .content {
    overflow: hidden;
    max-height:0px;
    @include transition(max-height 0.6s ease);
    width:80%;
    margin:auto;
    //transform: scaleY(0);
   // transform-origin: top;
   // transition: transform 0.26s ease;

  }



  .wys-content {
    text-align: center;
    padding:50px 0;
    h1,h2,h3,h4,h5,h6 {
      @include set-font(30px, $poppins, 700, $blue);
      padding-bottom: 50px;
    }
    p {
      @include set-font(22px, $mada, 300, $blue);
      padding-bottom:25px;
    }
  }

  .text-bloc-main-container {

    @media (min-width: $screen-xs-min) {
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }
  }
  .text-bloc-container {
    @include flexbox();
    @include flex-direction(column);
    @media (min-width: $screen-xs-min) {
      @include flex-basis(48%);
    }

    .bloc-top-line {
      width:55%;
      border-top: 1px solid $blue;
    }
    .text-bloc-title{
      @include set-font(22px, $poppins, 700, $blue);
      padding:20px 0 30px;
    }
    .text-bloc-text {
      @include set-font(22px, $mada, 300, $blue);
      padding-bottom: 50px;
    }
  }

}//toggle-content-main-container END

/* CLOSE */

