

.text-bloc-main-container {
  @media (min-width: $screen-xs-min) {
    @include flexbox();
    @include flex-wrap(no-wrap);
    @include justify-content(space-between);
    padding-right: 20px;
  }
}
.text-bloc-container {
  @include flexbox();
  @include flex-direction(column);
  @media (min-width: $screen-xs-min) {
    @include flex-basis(25%);
  }

  .bloc-top-line {
    width:55%;
    border-top: 1px solid $blue;
  }
  .text-bloc-title{
    @include set-font(22px, $poppins, 700, $blue);
    padding:20px 0 30px;
  }
  .text-bloc-text {
    @include set-font(22px, $mada, 300, $blue);
    padding-bottom: 50px;
  }
}




