.three-col-icons-main-container {

  .three-col-icons-item {
    margin: 50px 0;
    @media (min-width: $screen-xs-min) {
      @include flexbox();
    }
    @media (min-width: $screen-md-min) {
      @include flexbox();
      @include flex-direction(column);
    }

    .three-col-icons-img-container {

      margin-bottom: 30px;

      @media (min-width: $screen-md-min) {
        text-align: left;
      }

    }

    .three-col-icon-text {
      padding-right: 40px;
      text-transform: uppercase;

      .three-col-icons-title {
        @include set-font(22px, $poppins, 700, $blue);
        line-height: 32px;
      }
      .three-col-icons-desc {
        @extend .mada18LightBlack;
        margin: 15px 0;
      }
    }

  }//END three COL ICON ITEM

  .three-col-icons-item:nth-child(1) .three-col-icons-title{
   color:$blue-light;
  }
  .three-col-icons-item:nth-child(2) .three-col-icons-title{
    color:$blue-grey;
  }
  .three-col-icons-item:nth-child(3) .three-col-icons-title{
    color:$green;
  }

}//SECTION END


