.four-col-icons-main-container {
  position: relative;
  text-align: center;
  .four-col-icons-container {

    @include flexbox();
    @include flex-direction(column);
    @media (min-width: $screen-sm-min) {
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include align-items(baseline);
    }
  }

  .four-col-icons-item {
    text-align: center;
    margin-bottom: 50px;
    @media (min-width: $screen-md-min) {
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
    }

    .four-col-icons-img-container {
      text-align: center;

      @media (min-width: $screen-md-min) {
        height:100px;
        @include flexbox();
        @include align-items(center);
      }
    }

    .four-col-icons-img-container img:nth-child(1) {
      @media (min-width: $screen-md-min) {
        display: none;
      }
    }

    .four-col-icons-img-container img:nth-child(2) {
      display: none;
      @media (min-width: $screen-md-min) {
        display: block;
      }
    }

    .four-col-icons-title {
      //@include set-font(25px, $poppins, 700, $black);
      @extend .poppins25BoldBlack;
      margin: 30px 0;
    }
    .four-col-icons-desc {
      @include set-font(22px, $mada, 300, $black);
    }

  }//END FOUR COL ICON ITEM

  .btn-container {
      margin-top:50px;
  }


}//SECTION 02 END