.img-plus-text {

  .slider-main-container {

    position: relative;
    width: 100%;
    min-height:780px;
    @media (min-width: $screen-md-min) {
      min-height:350px;
    }
  }

  .slide-container {
    @include flexbox();
    @include flex-direction(column);

    position: absolute;

    left:0;
    top:0;
    z-index: 10;
    opacity: 0;
    @include transition(opacity 0.5s ease);
    @media (min-width: $screen-md-min) {
      @include flex-direction(row);
      @include align-items(center);
    }
  }

  .active-slide {
    opacity: 1;
  }



  .img-container {
    padding: 15px 0;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      @include flex-basis(45%);
    }

    img {
      width:100%;
      max-width:540px;
      @extend .shadow;
    }
  }

  .buffer {
    width:5%;
  }

  .text-container {

    @include flexbox();
    @include flex-direction(column);
    @media (min-width: $screen-sm-min) {
      @include flex-basis(50%);
    }

    .text-container-title {
     @extend .poppins44BoldBlack;
      text-transform: uppercase;

      @media (min-width: $screen-sm-min) {
        @include set-font(32px, $poppins, 700, $black);
        padding: 30px 0;
      }
      @media (min-width: $screen-md-min) {
        @include set-font(45px, $poppins, 700, $black);
        padding: 30px 0 20px;
      }
    }
    .text-container-subtitle {
      @include set-font(22px, $poppins, 700, $blue);
      text-transform: uppercase;
      margin:15px 0;
    }


    .text {
      margin: 15px 0px;
      @include set-font(16px, $mada, 300, $black);
      line-height: 32px;
      @media (min-width: $screen-sm-min) {
        @include set-font(22px, $mada, 300, $black);
      }
    }
  }//TEXT CONTAINER END

  .contact-container {

    @include flexbox();
    @include flex-direction(column);
    text-align: center;
    margin-top: 40px;

    @media (min-width: $screen-xs-min) {
      @include flex-direction(row);
      @include justify-content(space-between);
    }

    @media (min-width: $screen-md-min) {
      @include flex-direction(row);
      text-align: left;
    }
    .contact-content:first-of-type {
      margin-bottom:25px;
    }

    .contact-location {
      @extend .mada22RegBlack;
    }

    .contact-phone {
      @extend .mada30RegBlue;
      margin-bottom: 20px;

      +.primary-btn-blue {
        margin-top: 40px;
      }
    }

    a {
      display:block;
    }


    .primary-btn-blue {
      margin:auto;
      @media (min-width: $screen-xs-min) {
        //width:225px!important;
      }
    }

  }//CONTACT CONTAINER END

  .reverse-elem {
    @media (min-width: $screen-sm-min) {
      @include flex-direction(row-reverse);
    }
  }


}//IMG PLUS TEXT END