.publication-main-container{
  @include flexbox();
  @include flex-direction(column);
  margin: 0;
  padding: 0;
}

.publication-container {
  @include flexbox();
  @include flex-direction(column);
  @media (min-width: $screen-sm-min) {
    @include flex-direction(row);
    @include justify-content(center);
    padding-top: 100px;
  }


  .publication-img-container {
    position: relative;
    @media (min-width: $screen-sm-min) {
      @include flex-basis(50%);
    }

    .image-pub {
      max-width:580px;
      width:100%;
    }
  }

  .buffer {
    @media (min-width: $screen-sm-min) {
      width:35px;
    }
  }

  .publication-text-container {
    padding-bottom:25px;
    @media (min-width: $screen-sm-min) {
      @include flex-basis(50%);
      max-width:600px;
    }
  }
}

.publication-container:first-of-type {
  @media (min-width: $screen-sm-min) {
    padding-top: 20px;
  }
}
.publication-container:last-of-type {
  @media (min-width: $screen-sm-min) {
    padding-bottom: 50px;
  }
}





