.publication-list-main-container {

  padding-top: 130px;
  padding-bottom: 0px;

  @include flexbox();
  @include flex-direction(column);


  .publication-header-container {
    max-width:835px;
    margin:auto;
    text-align: center;
    margin-bottom: 55px;
    .publication-header-title {
      @extend .poppins44BoldBlack;
      text-transform: uppercase;
    }
    .publication-header-subtitle{
      @extend .mada22LightBlack;
    }
    .publication-header-subtitle:first-of-type{
      @extend .mada22RegBlack;
      margin: 75px 0 30px;
    }
  }

  .nav-cat-container {

    .menu-item-container {
      border-bottom:none;
      margin: 20px 0 45px;
    }

    .menu-item-container {
      padding-bottom: 0;
    }

    .menu-item {
      margin: 0 20px 0 0;

      a {
        &.publication-category.item-cat-active {
          background-color: $blue;
        }
      }
    }
  }

  .publication-nav {
    @include flexbox();
    @include flex-wrap(wrap);
    @media (min-width: $screen-sm-min) {

    }
    position: relative;
    @include justify-content(center);
    border-top:1px solid $grey-light;
    border-bottom:1px solid $grey-light;
    padding: 18px 0;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .publication-nav-item {
    @include set-font(17px, $poppins, 400, $grey-light );
    position: relative;
    margin-left:20px;
  }
  .publication-nav-item:last-of-type {
    position: relative;
    margin-top:10px;


    @include set-font(17px, $poppins, 700, $blue );
    @media (min-width: $screen-sm-min) {
      position: absolute;
      margin-top: 0px;
      right: 0;
      top: 18px;

    }

  }


}

